<head th:fragment="head">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" sizes="76x76">
    <link href="img/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="img/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <meta content="initial-scale=1" name="viewport">
    <meta content="Noarchive" name="robots">
    <meta content="http://localhost:8080" name="og:site_name">
    <meta content="http://localhost:8080" property="og:url">
    <link href="http://localhost:8080" rel="canonical">
    <meta content="en_US" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="summary_large_image" name="twitter:card">
    <meta charset="UTF-8">
    <meta content="Reservation management system for Crowned Cuts, which is a company offering hairdressing and barbering services."
          property="og:title">
    <meta content="Reservation management system for Crowned Cuts, which is a company offering hairdressing and barbering services."
          property="og:description">
    <meta content="Reservation management system for Crowned Cuts, which is a company offering hairdressing and barbering services."
          name="description">
</head>