<head th:fragment="head">
  <link href="css/navbar.css" rel="stylesheet">
  <meta content="initial-scale=1" name="viewport">
  <meta name="robots" content="Noarchive">
  <meta name="og:site_name" content="http://localhost:8080">
  <meta property="og:url" content="http://localhost:8080">
  <link rel="canonical" href="http://localhost:8080">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta charset="UTF-8">
  <meta property="og:title" content="Reservation management system for Crowned Cuts, which is a company offering hairdressing and barbering services.">
  <meta property="og:description" content="Reservation management system for Crowned Cuts, which is a company offering hairdressing and barbering services.">
  <meta name="description"
        content="Reservation management system for Crowned Cuts, which is a company offering hairdressing and barbering services.">
</head>