<div class="navbar" th:fragment="navbar">
    <ul>
        <li id="logo"><a href="/"><img alt="Crowned Cuts logo" id="logo-img" src="img/logo.png"/></a></li>
        <li class="hide-mobile"><a href="/information" th:text="#{h.ownInformation}">Omat tiedot</a></li>
        <li class="hide-mobile"><a href="/logout" th:text="#{text.logout}">Kirjaudu ulos</a></li>
        <li class="show-mobile" style="color: white; font-size: 2rem"><a href="#" id="open-mobile-menu-button">☰</a>
        </li>
    </ul>
    <ul id="mobile-menu">
        <li><a href="/information" th:text="#{h.ownInformation}"><span>Omat tiedot</span></a></li>
        <li><a href="/logout" th:text="#{text.logout}"><span>Kirjaudu ulos</span></a></li>
    </ul>
    <script>
        const openMobileMenuButton = document.getElementById('open-mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        openMobileMenuButton
            .addEventListener('click', event => {
                event.preventDefault();
                if (mobileMenu.style.display === 'flex') {
                    mobileMenu.style.display = 'none';
                } else {
                    mobileMenu.style.display = 'flex';
                }
            })
        addEventListener('resize', () => {
            mobileMenu.style.display = 'none';
        })
    </script>
</div>