@import "colors.css";

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--gray);
}

h2 {
    text-decoration: underline;
}

.leftside {
    width: 50%;
    height: 100px;
    float: left;
}

.rightside {
    margin-left: 50%;
    height: 100px;
}

#reservations-wrapper {
    border-radius: 8px;
    z-index: -2;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2rem;
}

.big-square-button-container {
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    text-align: left;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid var(--blacker-black);
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    cursor: pointer;
}