:root {
    --lighter-blue: #2980b9;
    --yellow: #f1c40f;
    --dark-yellow: #f39c12;
    --darker-gray: #bdc3c7;
    --dark-gray: #95a5a6;
    --blacker-black: #2c3e50;
    --darkish-green: #1E8549;
    --dark-red: #c0392b;
    --purple: #9b59b6;
    --dark-purple: #8e44ad;
    --blue: #185D8C;
    --gray: #ecf0f1;
    --black: #2c3e50;
    --green: #156034;
    --red: #A82315;
    --darkest-green: #156034;
    --simple-highlight: #fcfaf2;
}