@import "colors.css";

html, body {
    padding: 0;
    margin: 0;
    padding-top: 1rem;
}

.navbar {
    border-bottom: 1px solid var(--black);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

.navbar ul li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.navbar ul li:hover {
    background-color: var(--darker-gray);
}

.navbar ul li:visited {
    color: black;
}

.navbar ul li:first-child:hover {
    background: transparent;
}

.navbar ul li:nth-child(2) {

}

#logo {
    flex-grow: 1;
}

#logo-img {
    width: 350px;
}

@media only screen and (max-width: 564px) {
    .navbar {
        margin-bottom: 0;
    }
}