#new-reservation-button {
    width: 70%;
    height: 70px;
}

#no-upcoming-times {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    border-left: 1px dashed var(--darker-gray);
    height: 8rem;
    padding-left: 1rem;
}

.leftside {
    display: flex;
    justify-items: center;
    align-items: center;
    flex: 50%;
    padding-top: 2rem;
    flex-direction: column;
}

.leftside p {
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.rightside {
    flex: 50%;
    padding-right: 2rem;
}

.nav-reservations {
    background-color: var(--gray) !important;
}

.nav-reservations:hover {
    background-color: var(--darker-gray) !important;
}

.nav-reservations a {
    color: var(--blacker-black) !important;
}

#index-content-holder {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 660px) {
    .leftside {
        padding-top: 0;
    }

    #new-reservation-button {
        width: 100%;
        height: 80px;
        max-width: 100vh;
    }

    #index-content-holder {
        flex-direction: column;
    }
}