@import "colors.css";

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--gray);
}

h1 {
    text-decoration: underline;
}

.leftside {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    align-items: center;
}

.rightside {
    flex-grow: 1;
    padding-right: 2rem;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 1.3rem;
    margin-bottom: 1rem;
}

ol li {
    font-size: 1.2rem;
}

.big-square-button {
    width: 300px;
    height: 200px;
    text-align: left;
    padding: 3rem;
    margin-right: 1rem;
    border: 1px solid var(--blacker-black);
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.big-square-button:hover {
    background-color: var(--gray);
}

.allreservations-button {
    width: 100%;
    text-align: left;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid var(--blacker-black);
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.allreservations-button:hover {
    background-color: var(--gray);
}

#index-wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2rem;
    min-height: 400px;
    display: flex;
    width: 100%;
}