@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import "colors.css";

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--gray);
}

h1 {
    text-decoration: underline;
}

h2 {
    padding-top: 2rem;
}

#page-shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 15;
}

#messageBox {
    display: none;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 20;
    background-color: white;
    max-width: 450px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}

#messageBox > * {
    z-index: 20;
}

#messageBoxButtonContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-top: 5rem;
}

#messageBoxButtonContainer > button {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 4px;
    border: none;
    background-color: var(--blue);
    color: var(--gray);
    cursor: pointer;
    margin-bottom: 2rem;
}

#reservation-wrapper {
    z-index: -2;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2rem;
}

.slides-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide-arrow {
    cursor: pointer;
    z-index: 10;
}

#slide-arrow-prev {
    left: 0;
}

#slide-arrow-next {
    right: 0;
}

.big-square-button {
    width: 200px;
    height: 200px;
    font-size: 1.1rem;
    text-align: left;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid var(--blacker-black);
    border-radius: 4px;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.big-square-button:hover {
    background-color: var(--gray);
}

.big-square-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-square-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.checkmark {
    font-size: 3rem;
    color: var(--darkest-green);
    display: none;
    height: 40px;
}


#service-list {
    max-width: 60%;
    position: relative;
}

.service-listing {
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.service-listing:last-child {
    border-bottom: 1px solid black;
}

.service-listing:hover {
    background-color: var(--gray);
}

.service-listing:hover .reservation-toggleable-service-button {
    background-color: var(--lighter-blue);
}

.reservation-toggleable-service-button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 0;
    background-color: var(--blue);
    color: var(--gray);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-toggleable-service-button:hover {
    background-color: var(--lighter-blue);
}

.reservation-toggleable-service-button-selected {
    background-color: var(--red);
}

.reservation-toggleable-service-button-selected:hover {
    background-color: var(--dark-red);
}

.price {
    display: inline-block;
}

.service-title {
    width: 160px;
    padding-right: 1rem;
    display: inline-block;
}

#service-price {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.reservation-navigation-button {
    font-size: 1.2rem;
    padding: 1rem;
    max-width: 256px;
    border-radius: 4px;
    border: none;
    background-color: var(--blue);
    color: var(--gray);
}

#abort-reservation {
    cursor: pointer;
    z-index: 10;
    background-color: white;
    border: 1px solid var(--blue);
    color: var(--blacker-black);
}

#abort-reservation:hover {
    background-color: var(--gray);
}


.reservation-navigation-button:hover {
    background-color: var(--lighter-blue);
}

.reservation-navigation-button:disabled {
    background-color: var(--blue);
    cursor: not-allowed;
    opacity: 0.7;
}

.reservation-navigation-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

#available-times-list-container {
    max-width: 60%;
}

#form-select-barber {
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid var(--blue);
    width: 60%;
    padding: 0.8rem;
}

.available-time-button {
    font-size: 1.1rem;
    max-width: 256px;
    min-width: 80px;
    border-radius: 16px;
    border: none;
    background-color: var(--blue);
    color: var(--gray);
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.available-time-button:hover {
    background-color: var(--lighter-blue);
}

.available-times-day-header {
    margin-bottom: 1rem;
}

.available-time-button-selected {
    background-color: var(--darkest-green);
    font-weight: bold;
}

.available-time-button-selected:hover {
    background-color: var(--darkish-green);
}

#available-times-nav-buttons {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
}

#available-times-nav-buttons > button {
    background-color: transparent;
    border: 0;
    width: 50px;
    cursor: pointer;
}

#available-times-nav-buttons > button:hover {
    background-color: var(--gray);
}

#summary-container {
    font-size: 1.2rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#confirm-order-button {
    display: none;
}

.no-available-times-text {
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 864px) {
    .big-square-button {
        width: 150px;
        height: 150px;
        font-size: 0.9rem;
    }

    #service-list {
        width: 100%;
        max-width: 100%;
    }

    #available-times-nav-buttons {
        max-width: 100%;
    }

    .service-listing {
        box-sizing: border-box;
    }

    #service-price {
        text-align: right;
        margin-top: 1rem;
    }

    #available-times-list-container {
        width: 100%;
        max-width: 100%;
    }

    #form-select-barber {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 564px) {
    #reservation-wrapper {
        padding: 1rem;
        left: 0;
        right: 0;
    }

    .big-square-button-container {
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
    }

    .big-square-button {
        height: 80px;
        width: 100%;
        font-size: 1rem;
    }

    .reservation-navigation-button,
    #abort-reservation {
        width: 100%;
        max-width: 100%;
        transform: none;
        margin-bottom: 1rem;
    }

    .reservation-navigation-button-container {
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    #service-list {
        width: 100%;
        max-width: 100%;
    }

    .service-listing {
        box-sizing: border-box;
    }

    #service-price {
        text-align: right;
        margin-top: 1rem;
    }

    #messageBox {
        max-width: 100%;
        left: 0;
        right: 0;
        transform: none;
    }

    .available-time-button {
        font-size: 1.2rem;
        min-width: 120px;
    }

    #summary-container {
        width: 100%;
    }

    #available-times-nav-buttons {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #available-times-nav-buttons > button {
        font-size: 3rem;
    }

    .checkmark {
        position: absolute;
        right: 64px;
    }
}