<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="fi">
<head>
    <meta charset="UTF-8">
    <title th:text="#{h.reservation}">Ajanvaraus</title>
    <link rel="stylesheet" href="css/reservation.css">
    <link rel="stylesheet" href="css/pageindicator.css">
    <link rel="stylesheet" href="css/header.css">
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="page-shadow">
</div>
<div id="messageBox">
    <h2 th:text="#{h.confirmAbort}">Haluatko varmasti keskeyttää varauksen?</h2>
    <p th:text="#{p.confirmAbort}">Keskeyttämisen jälkeen näkymä palaa etusivulle.</p>
    <div id="messageBoxButtonContainer">
        <button id="cancelAbortButton" th:text="#{cancel}">Peruuta</button>
        <button id="confirmAbortButton" th:text="#{b.confirmAbort}">Keskeytä ajanvaraus</button>
    </div>
</div>
<div id="reservation-wrapper">
    <h1 th:text="#{h.reservation}">Ajanvaraus</h1>
    <section class="slider-wrapper">
        <div id="page-indicator">
            <div id="page-indicator-line"></div>
            <ul id="page-indicator-list">
                <li class="page-indicator-selected page-indicator-selected-current">1</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <form class="slides-container" id="slides-container">
            <div class="slide">
                <h2 th:text="#{h.selectServiceType}">Valitse palvelun tyyppi</h2>
                <div class="big-square-buttons-wrapper">
                    <div class="big-square-button-container">
                        <button id="button-service-type-barber" class="big-square-button">
                            <span th:text="#{barber}">PARTURI</span><br/><span
                                th:text="#{cut}">HIUSTENLEIKKUU</span><br/><span th:text="#{otherBarberServices}">+MUUT PARTURIPALVELUT</span>
                        </button>
                        <span class="checkmark checkmark-service-type">&#10003;</span>
                    </div>
                    <div class="big-square-button-container">
                        <button id="button-service-type-haidresser" class="big-square-button">
                            <span th:text="#{hairdresser}">KAMPAAMO</span><br/><span
                                th:text="#{cut}">HIUSTENLEIKKUU</span><br/><span th:text="#{otherHairdressingServices}">+MUUT KAMPAAMOPALVELUT</span>
                        </button>
                        <span class="checkmark checkmark-service-type">&#10003;</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <h2 th:text="#{h.selectHairLength}">Valitse hiusten pituus</h2>
                <div class="big-square-buttons-wrapper">
                    <div class="big-square-button-container">
                        <button id="button-hair-length-short" class="big-square-button" th:text="#{short}">LYHYET
                        </button>
                        <span class="checkmark checkmark-hair-length">&#10003;</span>
                    </div>
                    <div class="big-square-button-container">
                        <button id="button-hair-length-medium" class="big-square-button" th:text="#{medium}">
                            KESKIPITKÄT
                        </button>
                        <span class="checkmark checkmark-hair-length">&#10003;</span>
                    </div>
                    <div class="big-square-button-container">
                        <button id="button-hair-length-long" class="big-square-button" th:text="#{long}">PITKÄT</button>
                        <span class="checkmark checkmark-hair-length">&#10003;</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <h2 th:text="#{h.selectServices}">Valitse palvelut</h2>
                <p th:text="#{p.selectServices}">Huomaa, että voit valita ajanvaraukseesi useamman kuin yhden
                    palvelun.</p>
                <div id="service-list">
                    <div id="service-list-hairdresser">
                    </div>
                    <div id="service-list-barber">
                    </div>
                </div>
                <div id="service-price">
                    <span th:text="#{sumPrice}">Kokonaissumma:</span> <span id="service-price-amount">0</span>.00€
                </div>
            </div>
            <div class="slide">
                <label for="form-select-barber"><h2 th:text="#{h.selectTimeAndWorker}">Valitse aika ja työntekijä</h2>
                </label>
                <select id="form-select-barber">
                </select>
                <div>
                    <div id="available-times-list-container">
                        <h3 class="available-times-day-header" id="available-times-today"></h3>
                        <div id="available-times-list-today">
                        </div>
                        <hr/>
                        <h3 class="available-times-day-header" id="available-times-tomorrow"></h3>
                        <div id="available-times-list-tomorrow">
                        </div>
                        <hr/>
                        <h3 class="available-times-day-header" id="available-times-theDayAfter"></h3>
                        <div id="available-times-list-day-after">
                        </div>
                        <hr/>
                    </div>
                    <div id="available-times-nav-buttons">
                        <button id="available-times-nav-button-previous" style="visibility: hidden" type="button" th:attr="aria-label=#{aria.showPreviousAvailableTimes}">
                            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m10.978 14.999v3.251c0 .412-.335.75-.752.75-.188 0-.375-.071-.518-.206-1.775-1.685-4.945-4.692-6.396-6.069-.2-.189-.312-.452-.312-.725 0-.274.112-.536.312-.725 1.451-1.377 4.621-4.385 6.396-6.068.143-.136.33-.207.518-.207.417 0 .752.337.752.75v3.251h9.02c.531 0 1.002.47 1.002 1v3.998c0 .53-.471 1-1.002 1z" fill-rule="nonzero"/></svg>
                        </button>
                        <button id="available-times-nav-button-next" type="button" th:attr="aria-label=#{aria.showNextAvailableTimes}">
                            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m13.022 14.999v3.251c0 .412.335.75.752.75.188 0 .375-.071.518-.206 1.775-1.685 4.945-4.692 6.396-6.069.2-.189.312-.452.312-.725 0-.274-.112-.536-.312-.725-1.451-1.377-4.621-4.385-6.396-6.068-.143-.136-.33-.207-.518-.207-.417 0-.752.337-.752.75v3.251h-9.02c-.531 0-1.002.47-1.002 1v3.998c0 .53.471 1 1.002 1z" fill-rule="nonzero"/></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div id="summary-container">
                    <h2 th:text="#{summary}">Yhteenveto</h2>
                    <div id="summary-details-container">
                    </div>
                </div>
            </div>
        </form>
        <div class="reservation-navigation-button-container">
            <button type="button" class="reservation-navigation-button slide-arrow slide-arrow-prev"
                    id="slide-arrow-prev">
                &#8249; <span th:text="#{previous}">Edellinen</span>
            </button>

            <button type="button" class="reservation-navigation-button" id="abort-reservation"
                    th:text="#{b.confirmAbort}">
                Keskeytä ajanvaraus
            </button>

            <button type="button" class="reservation-navigation-button slide-arrow" id="confirm-order-button"
                    th:text="#{b.confirmReservation}">
                Vahvista varaus
            </button>

            <button type="button" class="reservation-navigation-button slide-arrow slide-arrow-next"
                    id="slide-arrow-next">
                <span th:text="#{next}">Seuraava</span> &#8250;
            </button>
        </div>
    </section>
</div>
</body>
<script src="js/slideshow.js"></script>
<script src="js/reservation.js">
</script>
<script>
    'use strict';

    const locale = "[[${#locale.toString()}]]";

    const slides = slideshow.initialize();
    reservationView.init(slides, locale.substring(0, 2));

    slides.onSlidePageChange.push(() => {
        const nodes = document
            .getElementById('page-indicator-list')
            .children;
        for (let i = 0; i < nodes.length; i++) {
            if (i <= slides.slideState.currentSlide) {
                nodes[i].classList.add('page-indicator-selected')
            } else {
                nodes[i].classList.remove('page-indicator-selected')
            }
            if(i === slides.slideState.currentSlide) {
                nodes[i].innerHTML = ( i + 1 );
                nodes[i].classList.add('page-indicator-selected-current')
            } else {
                nodes[i].innerHTML = '';
                nodes[i].classList.remove('page-indicator-selected-current')
            }
        }
    });

</script>
</html>


































