<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Ajanvaraus onnistui!</title>
    <link rel="stylesheet" href="css/reservation.css">
    <link rel="stylesheet" href="css/pageindicator.css">
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
<div id="reservation-wrapper">
    <h1>Ajanvaraus</h1>
    <section class="slider-wrapper">
        <div id="page-indicator">
            <div id="page-indicator-line"></div>
            <ul id="page-indicator-list">
                <li class="page-indicator-selected">1</li>
                <li class="page-indicator-selected">2</li>
                <li class="page-indicator-selected">3</li>
                <li class="page-indicator-selected">4</li>
                <li class="page-indicator-selected">5</li>
                <li class="page-indicator-selected">6</li>
            </ul>
        </div>
        <div id="summary-container">
            <div style="display: flex; flex-direction: column; align-items: center">
                <div style="width: 100%">
                    <h2>Varaus vahvistettu onnistuneesti!</h2>
                </div>
                <p>Parturi-kampaamo Crowned Cuts on vastaanottanut ja vahvistanut varauksesi. Voit tarkastella
                    varaamiasi aikoja etusivulta. Vaihtoehtoisesti voit <a style="color: black" href="/ajanvaraus">varata
                        uuden ajan tästä.</a></p>
                <p style="margin-bottom: 3rem;">Ongelmatilanteissa ota yhteyttä asiakaspalveluun
                    asiakaspalvelu@crownedcuts.fi tai +3580441224012</p>
                <button id="return-to-frontpage-button" type="button" class="reservation-navigation-button slide-arrow">
                    Siirry etusivulle
                </button>
            </div>
        </div>
    </section>
</div>
<script>
    const button = document.getElementById('return-to-frontpage-button');
    button.addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = "/";
    });
</script>
</body>
</html>