<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Ajanvaraus</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
<div id="page-shadow">
</div>
<div id="messageBox">
    <h2>Haluatko varmasti keskeyttää varauksen?</h2>
    <p>Keskeyttämisen jälkeen näkymä palaa etusivulle.</p>
    <div id="messageBoxButtonContainer">
        <button id="cancelAbortButton">Peruuta</button>
        <button id="confirmAbortButton">Keskeytä ajanvaraus</button>
    </div>
</div>
<div id="reservation-wrapper">
    <h1>Ajanvaraus</h1>
    <section class="slider-wrapper">
        <div id="pageIndicator">
            <div id="pageIndicatorLine"></div>
            <ul id="pageIndicatorList">
                <li class="selected">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
        <form class="slides-container" id="slides-container">
            <div class="slide">
                <h2>Valitse palvelun tyyppi</h2>
                <div class="big-square-buttons-wrapper">
                    <div class="big-square-button-container">
                        <button id="button-service-type-barber" class="big-square-button">
                            PARTURI<br/>HIUSTENLEIKKUU<br/>+MUUT PARTURIPALVELUT
                        </button>
                        <span class="checkmark checkmark-service-type">&#10003;</span>
                    </div>
                    <div class="big-square-button-container">
                        <button id="button-service-type-haidresser" class="big-square-button">KAMPAAMO<br/>HIUSTENLEIKKUU<br/>+MUUT
                            KAMPAAMOPALVELUT
                        </button>
                        <span class="checkmark checkmark-service-type">&#10003;</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <h2>Valitse hiusten pituus</h2>
                <div class="big-square-buttons-wrapper">
                    <div class="big-square-button-container">
                        <button id="button-hair-length-long" class="big-square-button">PITKÄT</button>
                        <span class="checkmark checkmark-hair-length">&#10003;</span>
                    </div>
                    <div class="big-square-button-container">
                        <button id="button-hair-length-medium" class="big-square-button">KESKIPITKÄT</button>
                        <span class="checkmark checkmark-hair-length">&#10003;</span>
                    </div>
                    <div class="big-square-button-container">
                        <button id="button-hair-length-short" class="big-square-button">LYHYET</button>
                        <span class="checkmark checkmark-hair-length">&#10003;</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <h2>Valitse palvelut</h2>
                <p>Huomaa, että voit valita ajanvaraukseesi useamman kuin yhden palvelun</p>
                <div id="service-list">
                    <div id="service-list-hairdresser">
                        <div class="service-listing">
                            <span class="service-title">Leikkaus, pesu ja kuivaus</span>
                            <span class="price">45.00€</span>
                            <button class="reservation-toggable-service-button" type="button" value="hairdressingCut"
                                    onclick="toggleService(this, 45); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Mallinmuutosleikkaus</span>
                            <span class="price">70.00€</span>
                            <button class="reservation-toggable-service-button" type="button"
                                    value="hairdressingNewStyle" onclick="toggleService(this, 70); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Otsahiusten leikkaus</span>
                            <span class="price">15.00€</span>
                            <button class="reservation-toggable-service-button" type="button"
                                    value="hairdressingCutForehead" onclick="toggleService(this, 15); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Hiusten värjäys</span>
                            <span class="price">100.00€</span>
                            <button class="reservation-toggable-service-button" type="button" value="hairdressingColor"
                                    onclick="toggleService(this, 100); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Juurikasvun värjäys</span>
                            <span class="price">50.00€</span>
                            <button class="reservation-toggable-service-button" type="button"
                                    value="hairdressingColorRootGrowth" onclick="toggleService(this, 50); return false">
                                +
                            </button>
                        </div>
                    </div>
                    <div id="service-list-barber">
                        <div class="service-listing">
                            <span class="service-title">Leikkaus, pesu ja kuivaus</span>
                            <span class="price">25.00€</span>
                            <button class="reservation-toggable-service-button" type="button" value="barberCut"
                                    onclick="toggleService(this, 25); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Mallinmuutosleikkaus</span>
                            <span class="price">40.00€</span>
                            <button class="reservation-toggable-service-button" type="button" value="barberNewStyle"
                                    onclick="toggleService(this, 40); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Parturi konetyö</span>
                            <span class="price">15.00€</span>
                            <button class="reservation-toggable-service-button" type="button" value="barberMachineCut"
                                    onclick="toggleService(this, 15); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Hiusten värjäys</span>
                            <span class="price">75.00€</span>
                            <button class="reservation-toggable-service-button" type="button" value="barberColor"
                                    onclick="toggleService(this, 75); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Juurikasvun värjäys</span>
                            <span class="price">35.00€</span>
                            <button class="reservation-toggable-service-button" type="button"
                                    value="barberColorRootGrowth" onclick="toggleService(this, 35); return false">+
                            </button>
                        </div>
                        <div class="service-listing">
                            <span class="service-title">Parran muotoilu</span>
                            <span class="price">10.00€</span>
                            <button class="reservation-toggable-service-button" type="button" value="barberBeard"
                                    onclick="toggleService(this, 10); return false">+
                            </button>
                        </div>
                    </div>
                </div>
                <div id="service-price">
                    Kokonaissumma: <span id="service-price-amount">0</span>.00€
                </div>
            </div>
            <div class="slide">
                <label for="form-select-barber"><h2>Valitse aika ja työntekijä</h2></label>
                <select id="form-select-barber">
                </select>
                <div id="available-times-list-container">
                    <h3 class="available-times-day-header" id="available-times-today">Maanantai 27.3.</h3>
                    <div id="available-times-list-today">
                    </div>
                    <hr/>
                    <h3 class="available-times-day-header" id="available-times-tomorrow">Tiistai 28.3.</h3>
                    <div id="available-times-list-tomorrow">
                    </div>
                    <hr/>
                    <h3 class="available-times-day-header" id="available-times-day-after">Torstai 30.3.</h3>
                    <div id="available-times-list-day-after">
                    </div>
                    <hr/>
                </div>
                <div id="available-times-nav-buttons">
                    <button id="available-times-nav-button-previous" style="visibility: hidden" type="button">&#8701;
                    </button>
                    <button id="available-times-nav-button-next" type="button">&#8702;</button>
                </div>
            </div>
            <div class="slide">
                <div id="summary-container">
                    <h2>Yhteenveto</h2>
                    <div id="summary-details-container">
                        <p>Pampaaja leikkaus, pesu ja kuivaus</p>
                        <p>Hiusten värjäys</p>
                        <p>Keskiviikko 29.3. klo 9:00</p>
                        <p>Parturi-Kampaaja: Milla Pyrrö</p>
                        <p>Hinta: 0.00€</p>
                    </div>
                </div>
            </div>
        </form>
        <div class="reservation-navigation-button-container">
            <button type="button" class="reservation-navigation-button slide-arrow slide-arrow-prev"
                    id="slide-arrow-prev">
                &#8249; Edellinen
            </button>

            <button type="button" class="reservation-navigation-button" id="abort-reservation">
                Keskeytä ajanvaraus
            </button>

            <button type="button" class="reservation-navigation-button slide-arrow" id="confirm-order-button">
                Vahvista varaus
            </button>

            <button type="button" class="reservation-navigation-button slide-arrow slide-arrow-next"
                    id="slide-arrow-next">
                Seuraava &#8250;
            </button>
        </div>
    </section>
</div>
</body>
<script src="js/slideshow.js"></script>
<script src="js/reservation.js">
</script>
<script>
    'use strict';

    const slides = slideshow.initialize();
    reservationView.init(slides);
    const toggleService = reservationView.toggleService;

    slides.onSlidePageChange.push(() => {
        const nodes = document
            .getElementById('pageIndicatorList')
            .children;
        for (let i = 0; i < nodes.length; i++) {
            if (i <= slides.slideState.currentSlide) {
                nodes[i].classList.add('selected')
            } else {
                nodes[i].classList.remove('selected')
            }
        }
    });

</script>
</html>


































