<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Crowned Cuts</title>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/allreservations.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="reservations-wrapper">
    <div class="leftside">
        <section class="upcomingreservations">
            <h2 th:text="#{h.upcomingReservations}">Tulevat ajat</h2>
            <tr th:each="upcomingreservation : ${upcomingreservationslist}">
                <td th:text="${upcomingreservation}"></td>
            </tr>
            <div class="big-square-button-container">
                <a class="big-square-button" href="/index" id="button-go-back">
                    <span th:text="#{b.back}">Takaisin</span></a>
            </div>
        </section>
    </div>
    <div class="rightside">
        <section class="earlierreservations">
            <h2 th:text="#{h.earlierReservations}">Menneet ajat</h2>
            <tr th:each="earlierreservation : ${earlierreservationslist}">
                <td th:text="${earlierreservation}"></td>
            </tr>
        </section>
    </div>
</div>
</body>
</html>