<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Crowned Cuts</title>
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/allreservations.css" rel="stylesheet">
    <link href="css/forms.css" rel="stylesheet">
    <meta content="initial-scale=1" name="viewport">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div id="reservations-wrapper">
    <div id="content-divider">
        <div>
            <h2 th:text="#{h.upcomingReservations}">Tulevat ajat</h2>
            <ul>
                <li th:each="upcomingreservation : ${upcomingreservationslist}">
                    <span th:text="${upcomingreservation}"></span>
                </li>
            </ul>
        </div>
        <div>
            <h2 th:text="#{h.earlierReservations}">Menneet ajat</h2>
            <ul>
                <li th:each="earlierreservation : ${earlierreservationslist}">
                    <span th:text="${earlierreservation}"></span>
                </li>
            </ul>
        </div>
    </div>
    <button type="button" id="back-button">
        <span th:text="#{b.back}">Takaisin</span>
    </button>
</div>
</body>
<script>
    document
        .getElementById('back-button')
        .addEventListener('click', event => {
            event.preventDefault();
            window.location.href = '/';
        })
</script>
</html>