<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="#{t.changepassword}">Salasanan vaihto</title>
    <link href="css/information.css" rel="stylesheet">
    <object th:remove="tag" th:replace="~{fragments/head :: head}"></object>
    <link href="css/site.css" rel="stylesheet">
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div id="wrapper">
    <div class="fullWidth">
        <h1 th:text="#{h.changePassword}">Vaihda salasana</h1>
        <form id="form" method="post">
            <div class="errorMessage" id="validationError" style="display: none"
                 th:text="#{error.informationValidation}">
                Virhe tietojen tallentamisessa! Tarkista merkityt kohdat.
            </div>
            <div class="errorMessage" id="paramFail" th:if="${updateFail}" th:text="#{message.updateFail}">
            </div>
            <div class="successMessage" id="paramSuccess" th:if="${updateSuccess}"
                 th:text="#{message.updateSuccess}">
            </div>
            <div class="form-field">
                <label for="oldpassword" th:text="#{label.oldpassword}">Entinen salasana</label>
                <input id="oldpassword" name="oldpassword" type="password"/>
                <div class="errorMarked">!</div>
            </div>
            <div class="form-field">
                <label for="newpassword" th:text="#{label.newpassword}">Uusi salasana</label>
                <input id="newpassword" name="newpassword" type="password"/>
                <div class="errorMarked">!</div>
            </div>
            <div class="form-field">
                <label for="confnewpassword" th:text="#{label.confnewpassword}">Toista uusi salasana</label>
                <input id="confnewpassword" name="confnewpassword" type="password"/>
                <div class="errorMarked">!</div>
            </div>
            <div class="buttons">
                <button class="button-dimmed" onclick="window.location.href='/'" th:text="#{b.back}" type="button">
                    Takaisin
                </button>
                <button id="submitButton" th:text="#{b.save}" type="button">Tallenna</button>
            </div>
    </div>
    </form>
</div>
<footer th:replace="~{fragments/footer :: footer}">
</footer>
</body>
<script src="js/validators.js"></script>
<script>

    document.querySelectorAll('input').forEach(el => {
        el.addEventListener('change', () => {
            el.classList.remove('error')
            next(el).style.display = 'none';
            document.getElementById('validationError')
                .style.display = 'none';
            const pfail = document.getElementById('paramFail');
            if (pfail) pfail.style.display = 'none';
            const psuc = document.getElementById('paramSuccess');
            if (psuc) psuc.style.display = 'none';
        });
    });

    function handleSubmit(event) {
        console.log("Handlesubmit ", event);
        event.preventDefault();
        let isValidForm = true;
        isValidForm = applyValidator(isValidForm, () => requiredValidator('oldpassword'), 'oldpassword');
        var newpasswordvalue = document.getElementById("newpassword").value
        var confnewpasswordvalue = document.getElementById("confnewpassword").value
        if (newpasswordvalue != confnewpasswordvalue) {
            isValidForm = false;
        }
        isValidForm = applyValidator(isValidForm, () => requiredValidator('newpassword'), 'newpassword');

        if (isValidForm) {
            document.getElementById('form').submit();
        } else {
            document.getElementById('validationError')
                .style.display = 'block';
        }
    }

    function applyValidator(val, validate, name) {
        if (validate() === false) {
            if (val === true) {
                document.getElementById(name).focus();
                return false;
            } else {
                return false;
            }
        }
        return val;
    }

    const submitButton = document.getElementById('submitButton');
    submitButton.addEventListener('click', handleSubmit);
</script>
</html>