<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="fi">

<head>
    <title>Vaihda salasana</title>
    <meta content="initial-scale=1" name="viewport">
    <link href="css/forms.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <meta content="initial-scale=1" name="viewport">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div id="password-wrapper">
    <h1 th:text="#{h.changePassword}">Vaihda salasana</h1>
    <form id="form" method="post">
        <div class="errorMessage" id="validationError" style="display: none" th:text="#{error.informationValidation}">
            Virhe tietojen tallentamisessa! Tarkista merkityt kohdat.
        </div>
        <div class="errorMessage" id="paramFail" th:if="${updateFail}" th:text="#{message.updateFail}">
        </div>
        <div class="successMessage" id="paramSuccess" th:if="${updateSuccess}" th:text="#{message.updateSuccess}">
        </div>
        <div class="form-field">
            <label for="oldpassword" th:text="#{label.oldpassword}">Entinen salasana</label>
            <input id="oldpassword" name="oldpassword" th:field="${userDetails.oldpassword}" type="text"/>
            <div class="errorMarked">!</div>
        </div>
        <div class="form-field">
            <label for="newpassword" th:text="#{label.newpassword}">Uusi salasana</label>
            <input id="newpassword" name="newpassword" th:field="${userDetails.newpassword}" type="text"/>
            <div class="errorMarked">!</div>
        </div>
        <div class="form-field">
            <label for="newpasswordagain" th:text="#{label.newpasswordagain}">Toista uusi salasana</label>
            <input id="newpasswordagain" name="newpasswordagain" th:field="${userDetails.newpasswordagain}" type="text"/>
            <div class="errorMarked">!</div>
        </div>
        <div class="buttons">
            <button class="button-dimmed" onclick="window.location.href='/'" th:text="#{b.back}" type="button">
                Takaisin
            </button>
            <button id="submitButton" th:text="#{b.save}" type="button">Tallenna</button>
        </div>
    </form>
</div>
</body>
</html>