<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="fi">

<head>
    <title>Crowned Cuts</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <!-- Ajanvarausosion linkkinappi -->
    <div class="leftside">
    <section class="ajanvaraus">
        <div class="big-square-button-container">
            <a href="/ajanvaraus" id="button-service-type-haidresser" class="big-square-button">
                    <span th:text="#{h.newReservation}">VARAA UUSI AIKA</span></a>
        </div>
    </section>
    </div>
    <!--  Varausten katsomisten osio -->
    <div class="rightside">
    <section class="tulevatvaraukset-right">
        <h1 th:text="#{h.upcomingReservations}">Tulevat varaukset</h1>
        <ol>
            <li>Aika 1</li>
            <li>Aika 2</li>
        </ol>
        <div class="allreservations-button">
        <a href="/allreservations">
        <button type="button" class="allreservations-navigation-button" id="show-all-reservations"
                    th:text="#{b.showAllReservations}">
                Näytä kaikki varaamani ajat
            </button>
        </div>
    </section>
    </div>
</body>
</html>