<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Crowned Cuts</title>
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/forms.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div id="index-wrapper">
    <div class="leftside">
        <div class="big-square-button-container">
            <a class="big-square-button" href="/newreservation">
                <span th:text="#{h.newReservation}">VARAA UUSI AIKA</span></a>
        </div>
    </div>
    <div class="rightside">
        <div>
            <h1 th:text="#{h.upcomingReservations}">Tulevat varaukset</h1>
            <ol>
                <li th:each="upcomingreservation : ${upcomingreservationslist}">
                    <span th:text="${upcomingreservation}"></span>
                </li>
            </ol>
            <a class="allreservations-navigation-button" href="/allreservations">
                <div class="allreservations-button">

                        <span th:text="#{b.showAllReservations}">
                    Näytä kaikki varaamani ajat</span>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>