<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Crowned Cuts</title>
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <meta content="initial-scale=1" name="viewport">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div id="wrapper">
    <div class="leftside">
        <button id="new-reservation-button" type="button">
            &#9200; <span th:text="#{h.newReservation}">VARAA UUSI AIKA</span></a>
        </button>
    </div>
    <div class="rightside">
        <div>
            <h2 th:text="#{h.upcomingReservations}">Tulevat varaukset</h2>
            <ol>
                <li th:each="upcomingReservation : ${upcomingReservations}">
                    <span th:text="${upcomingReservation}"></span>
                </li>
            </ol>
            <div id="no-upcoming-times" th:if="${#lists.isEmpty(upcomingReservations)}">
                <i th:text="#{t.noUpcomingTimes}">Sinulla ei ole tulevia aikoja</i>
            </div>
            <button class="button-dimmed" id="all-reservations-button" type="button">

                &#128197; <span th:text="#{b.showAllReservations}">
                Näytä kaikki varaamani ajat</span>
            </button>
        </div>
    </div>
</div>
</body>
<script>
    document.getElementById('new-reservation-button')
        .addEventListener('click', event => {
            event.preventDefault();
            window.location.href = '/newreservation';
        });
    document.getElementById('all-reservations-button')
        .addEventListener('click', event => {
            event.preventDefault();
            window.location.href = '/allreservations';
        });
</script>
</html>