<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="fi">
<head>
    <title>Spring Security Login Page</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h2 th:text="${message}"></h2>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<p id="loggingIn" style="display: none">
    Logging in...
</p>
</body>
<script>
    const form = document.getElementsByTagName("form").item(0);

    function onSubmit() {
        form.style.display = 'none'
        document.getElementById('loggingIn').style.display = 'block';
    }

    form.addEventListener('submit', onSubmit);
</script>
</html>