<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{t.reservationSuccessful}">Ajanvaraus onnistui!</title>
    <link href="css/reservation.css" rel="stylesheet">
    <object th:include="/fragments/head :: head" th:remove="tag"></object>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div id="reservation-wrapper">
    <h1 th:text="#{h.reservation}">Ajanvaraus</h1>
    <section class="slider-wrapper">
        <div id="page-indicator">
            <div id="page-indicator-line"></div>
            <ul id="page-indicator-list">
                <li class="page-indicator-selected"></li>
                <li class="page-indicator-selected"></li>
                <li class="page-indicator-selected"></li>
                <li class="page-indicator-selected"></li>
                <li class="page-indicator-selected"></li>
                <li class="page-indicator-selected page-indicator-selected-current">6</li>
            </ul>
        </div>
        <div id="summary-container">
            <div style="display: flex; flex-direction: column; align-items: center">
                <div style="width: 100%">
                    <h2 th:text="#{h.reservationConfirmedSuccessfully}">Varaus vahvistettu onnistuneesti!</h2>
                </div>
                <p><span th:text="#{p.reservationSuccessful}">Parturi-kampaamo Crowned Cuts on vastaanottanut ja vahvistanut varauksesi. Voit tarkastella
                    varaamiasi aikoja etusivulta. Vaihtoehtoisesti voit</span> <a href="/ajanvaraus"
                                                                                  style="color: black"
                                                                                  th:text="#{a.reserveNewTimeHere}">varata
                    uuden ajan tästä.</a></p>
                <p style="margin-bottom: 3rem;" th:text="#{p.contactIfProblems}">Ongelmatilanteissa ota yhteyttä
                    asiakaspalveluun
                    asiakaspalvelu@crownedcuts.fi tai +3580441224012</p>
                <button class="reservation-navigation-button slide-arrow" id="return-to-frontpage-button"
                        th:text="#{b.moveToFrontPage}"
                        type="button">
                    Siirry etusivulle
                </button>
            </div>
        </div>
    </section>
</div>
<script>
    const button = document.getElementById('return-to-frontpage-button');
    button.addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = "/";
    });
</script>
</body>
</html>